header {
   border:1px solid black;
}
h1 {
	text-align:center;
	font-size:300%;
}
aside {
   border:1px solid black;
   display:inline-block;
   width:20%;
   text-align:center;
   margin-top:4%;
   }
article {
   border: 1px solid black;
   display:inline-block;
   width:79%;
   
}
section {
  border: 1px solid black;
}
div {
	border:1px solid black;
	display:inline-block;
	padding:5%;
}